.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 264px;
  background-color: aliceblue;
  border-radius: 100%;
  margin-bottom: 60px;
}

@media only screen and (min-width: 768px) {
  .chart-container {
    width: 288px;
    height: 288px;
  }
}
