.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background: transparent;
  padding-top: 20px;
  /* Optional: add a bit of space from the top if needed */
}

/* Main card */
.card {
  width: 288px;
  height: 390px;
  background: linear-gradient(180deg, #355359 0%, #3b5d63 100%);
  border-radius: 20px;
  padding: 16px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  width: 256px;
  height: 51px;

  margin: 0 auto;
  padding: 12px;
  gap: 10px;

  border-radius: 12px;
  background: linear-gradient(180deg, #294045 0%, #1e2f33 100%);

  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.header span:first-child {
  text-align: left;
}

.header span:nth-child(2),
.header span:nth-child(3) {
  text-align: center;
}

.body {
  margin: 0 auto;
  width: 256px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
  margin-bottom: 24px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #cfcfcf;
}

.row:last-child {
  margin-bottom: 0;
}

.row span:nth-child(2),
.row span:nth-child(3),
.header span:nth-child(2),
.header span:nth-child(3) {
  text-align: center;
}

/* Explicit paddings */
.row span:first-child {
  text-align: left;
  padding-right: 20px;
}

.row span:nth-child(2) {
  padding-right: 10px;
}

.currency {
  font-weight: 400;
  color: #ffffff;
}

.img {
  object-fit: contain;
}

.illustration {
  position: relative;
  width: 234px;
  height: 174px;
  margin: 32px auto 0;
}