.button {
  background-color: #508f8c;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.icon {
  width: 25px;
  height: 25px;
  color: #000;
}
