:root {
  /* base colors */
  --main-black: #081222;
  --main-dark-green: #0b6016;
  --main-light-green: #508f8c;
  --main-white: #fcfcfc;
  --main-yellow: #dfad3f;
  --main-red: #b20202;
  --main-light-red: #f23a3a;

  /* charts */
  --chart-green: #24cca7;
  --chart-pink: #ffd8d0;
  --chart-darker-green: #00ad84;
  --chart-blue: #4a56e2;
  --chart-purple: #6e78e8;
  --chart-light-blue: #81e1ff;
  --chart-light-purple: #c5baff;
  --chart-red: #fd9498;

    /* backgrounds */
      --app-background: linear-gradient(180deg,
          #294045 0%,
          #1e2f33 100%);

  /* fonts */
  --font-main: 'Inter', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-third: 'Circe', sans-serif;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--main-black);
  background: var(--app-background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
